{% extends 'layout.html' %}

{% block content %}
<body>
<h1> Affordable GRE Tutoring for everybody</h1>

<div class="row top-panel">
    <img src="../static/img/studying4.jpg" class=" col-6 studying-img">
    <div class = "col-6">
        <p>We get it. The GRE is difficult. But it doesn't have to be.</p>
        <p>Hercules Tutoring was founded with the mission of bringing you easy access to professional GRE tutoring, wherever you are in the world, all at an affordable price.</p>
        <p>We started Hercules because we were frustrated with how GRE tutoring worked. We wanted instant, on-demand lessons without subscribing to expensive packages filled with subpar resources. After we studied hard and scored a near-perfect score on the test, we realized that succeeding on the test did not mean grinding through thousands of third-party exercises and practice tests. In our lessons, we only use and recommend official ETS material. We train students with extensive high-quality practice, while imbuing them with the strategies, attitude, and discipline required to succeed on the test.</p>
   
<!-- <button type="button" class="btn btn-primary btn-lg book-lesson"> Book a lesson with us now!</button> -->
<h5 class="p-2">Special Offer: Get 80% off on your first lesson.</h5>
</div>  
</div>
</body>
{% endblock content %}