{% extends 'layout.html' %}

{% block title %}Booking Cancellation{% endblock %}

{% block content %}
<body>

<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Cancellation Form</legend>

            <p>Upon submission of your request, the lesson will be cancelled. Hercules students and tutors put in a lot of effort to prepare for lessons, and we request that our users' time be respected. Please avoid cancelling lessons unless absolutely necessary. </p>
            <div class="form-group pt-3">
                {{ form.reasons.label(class="form-control-label") }}
                {% if form.reasons.errors %}
                   {{ form.reasons(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.reasons.errors %}
                            <span> {{ error }} </span>
                        {% endfor %}
                    </div>

                {% else %}
                    {{ form.reasons(class="form-control form-control-lg") }}
                {% endif %}
            </div>




        </fieldset>
        <div class="form-group">
            {{ form.cancel(class="btn btn-block btn-lg btn-outline-light button-theme") }}
        </div>
    </form>
</div>
</body>
{% endblock content %}