{% extends 'layout.html' %}

{% block title %}Add Free Slots{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='schedule.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="{{ url_for('static', filename='schedule.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='schedule3_util.js') }}"></script> -->

<body>
    <h1>Free Slots</h1>
   
    <br />
    
    <p class="p-3">Click on the slots during which you are available to tutor. Free slots are marked in orange and students will be able to book lessons with you during those slots. Once you have selected your free slots, confirm your selection at the bottom of the page.</p> 
    <div class="row">
        <div class="col-5"></div>
        <div class="col-3">
            <a href="{{ url_for('scheduling.free_slots', offset=offset-7) }}" ><input class="btn btn-primary button-theme" type="button" value="< Prev Week"></a>
            <a href="{{ url_for('scheduling.free_slots', offset=offset+7) }}" ><input class="btn btn-primary button-theme" type="button" value="Next Week >"></a>
        </div>
        <div class="col-4"></div>

    </div>

    <div class="cd-schedule loading">
        <div class="timeline">
            <ul>
                <li><span>00:00</span></li>
                <li><span>00:30</span></li>
                <li><span>01:00</span></li>
                <li><span>01:30</span></li>
                <li><span>02:00</span></li>
                <li><span>02:30</span></li>
                <li><span>03:00</span></li>
                <li><span>03:30</span></li>
                <li><span>04:00</span></li>
                <li><span>04:30</span></li>
                <li><span>05:00</span></li>
                <li><span>05:30</span></li>
                <li><span>06:00</span></li>
                <li><span>06:30</span></li>
                <li><span>07:00</span></li>
                <li><span>07:30</span></li>
                <li><span>08:00</span></li>
                <li><span>08:30</span></li>
                <li><span>09:00</span></li>
                <li><span>09:30</span></li>
                <li><span>10:00</span></li>
                <li><span>10:30</span></li>
                <li><span>11:00</span></li>
                <li><span>11:30</span></li>
                <li><span>12:00</span></li>
                <li><span>12:30</span></li>
                <li><span>13:00</span></li>
                <li><span>13:30</span></li>
                <li><span>14:00</span></li>
                <li><span>14:30</span></li>
                <li><span>15:00</span></li>
                <li><span>15:30</span></li>
                <li><span>16:00</span></li>
                <li><span>16:30</span></li>
                <li><span>17:00</span></li>
                <li><span>17:30</span></li>
                <li><span>18:00</span></li>
                <li><span>18:30</span></li>
                <li><span>19:00</span></li>
                <li><span>19:30</span></li>
                <li><span>20:00</span></li>
                <li><span>20:30</span></li>
                <li><span>21:00</span></li>
                <li><span>21:30</span></li>
                <li><span>22:00</span></li>
                <li><span>22:30</span></li>
                <li><span>23:00</span></li>
                <li><span>23:30</span></li>

            </ul>
        </div>
        <!-- .timeline -->
        
        <div class="events">
            
            <ul class="wrap">
                {% for day, events in schedule.items() %}
                <li class="events-group">
                    
                    <div class="top-info" >                        
                        <h4> {{ events[0] }}</h4>
                        <h4> {{ day }}</h4>
                    </div>
                    <ul id="{{ day }}">
                        {% for event in events[1] %}
                        <li class="single-event" day="{{ day }}" data-start="{{ event['data-start'] }}" data-end="{{ event['data-end'] }}" data-content="{{ event['data-content'] }}" data-event="{{ event['data-event'] }}">
                            <a href="#">
                                <em class="event-name">{{ event['event-name'] }}</em>
                            </a>
                        </li>
                        {% endfor %}
                        
                    </ul>
                    
                </li>
                {% endfor %}

                
            </ul>
        </div>

        <div class="event-modal">
            <header class="header">
                <div class="content">
                    <span class="event-date"></span>
                    <h3 class="event-name"></h3>

                </div>

                <div class="header-bg"></div>
                
            </header>

            <div class="body">
                <div class="event-info"> 
                    
                </div>
                
                <div class="body-bg">
                    
                </div>
                
            </div>

            <a href="#0" class="close">Close</a>
        </div>

        <div class="cover-layer"></div>
    </div>
    <!-- .cd-scheduling -->
    
    <a href = "{{ url_for('scheduling.add_free_slots', tutor_username=current_user.username) }}">
    <!-- <form  method = "post" action = "{{ url_for('scheduling.booking') }}"> -->
        <input class="btn btn-primary button-theme center" id="add_free_slots" type="button"  value="Add/remove these slots." >
    </a>
    <!-- </form> -->
</body>


{% endblock content %}