{% extends 'layout.html' %}

{% block content %}
<body>
   
        <h1>Hercules GRE Tutoring</h1>
    <div class="row top-panel">
        <img src="../static/img/studying.jpg" class=" col-6 studying-img">
        <div class = "col-6">
    <p> Professional GRE Tutoring online with highly qualified tutors, rigorously screened for quality. Book affordable lessons with flexible hours. All our tutors have GRE scores at the 95th percentile or better.</p>
       
   
    <h5 class="p-2">Special Offer: Get 80% off on your first lesson.</h5>
    </div>  
    </div>
    <hr>
    <h2 class="text-center p-3">Testimonials</h2> 
    <div class="card-deck p-3">
        <div class="card">
            <img class="card-img-top mx-auto rounded-circle account-img p-2" src="../static/img/person1_downscale.jpg" alt="Card image cap">
          <div class="card-body">
              
            <h5 class="card-title text-center">Catherine</h5>
            <div class="stars text-center"> <span class="star on"></span>
                <span class="star on"></span>
                <span class="star on"></span>
                <span class="star on"></span>
                <span class="star on"></span>
                <!-- <span class="star half"></span> -->
               </div>
            <p class="card-text">I used to be terrible at the verbal section, but after my lessons at Hercules, I was able to raise my verbal score from 140 to 153. The improvement has been absolutely phenomenal.</p>
          </div>
          
        </div>
        <div class="card">
          <img class="card-img-top mx-auto rounded-circle account-img p-2 " src="../static/img/person2_downscale.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">William</h5>
            <div class="stars text-center"> <span class="star on"></span>
                <span class="star on"></span>
                <span class="star on"></span>
                <span class="star on"></span>
                <span class="star half"></span>
               </div>
            <p class="card-text">The teaching quality is brilliant. Perhaps my main complaint is that the number of tutors is low, which is to be expected for a new tutoring service. That being said, my tutor was patient and really helped me learn how to tackle the test without fear.</p>
          </div>
         
        </div>
        <div class="card">
            <img class="card-img-top mx-auto rounded-circle account-img p-2" src="../static/img/person3_downscale.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Satish</h5>
            <div class="stars text-center"> <span class="star on"></span>
                <span class="star on"></span>
                <span class="star on"></span>
                <span class="star on"></span>
                <span class="star on"></span>
                
               </div>
            <p class="card-text">My friend recommended this website to me. So far, I have really enjoyed my lessons. I can see a huge difference in my GRE practice test scores before and after my lessons here. I am going to be taking the real test soon and I feel confident that I will do well.</p>
          </div>

        </div>
      </div>
</body>

{% endblock content %}