{% extends 'layout.html' %}

{% block title %}Messages{% endblock %}

{% block content %}
<body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='message.css') }}">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<script type="text/javascript">
function convertTZ(date, tzString) {
    return new Date((typeof date === "string" ? new Date(date) : date).toLocaleString("en-US", {timeZone: tzString}));   
}
$(document).ready(function() {


    var recipient = "";
	// var socket = io.connect('http://127.0.0.1:5000');
    var socket = io();

	socket.on('connect', function() {
		// socket.send('User has connected!');
	});

    associated_users = {{ users_json|safe }} ;
    //console.log("Associated users : ", associated_users);



	socket.on('message', function(msg) {

    
    //console.log("Time zone of current user is {{ current_user.time_zone }}");
    
    //var today = new Date(new Date().toLocaleString("en-US", {timeZone: "{{current_user.time_zone}}"}));
    var today = new Date();
    var hour = today.getHours();
    var minutes = today.getMinutes();

    

    var time = ""
    if (minutes < 10){
        time = hour + ":0" + minutes;
       }
       else{
       time = hour + ":" + minutes;
       }
       if (msg["source_username"] == "{{current_user.username}}") {
                $("#messages").append('<li class="clearfix"> <div class="message my-message float-right">'
                        +msg["text"] +'</div></li>');
            }
            else {
            $("#messages").append('<li class="clearfix"> <div class="message other-message">'
                        +msg["text"] +'</div></li>');
            }
        if (msg["text"].length < 20){
            $("#" + msg["target_username"]+"_last_received_message").text(msg["text"]);
            $("#" + msg["source_username"]+"_last_received_message").text(msg["text"]);
        }
        else{
            $("#" + msg["target_username"]+"_last_received_message").text(msg["text"].slice(0,20) + "...");
            $("#" + msg["source_username"]+"_last_received_message").text(msg["text"].slice(0,20) + "...");
        }
           

		// $("#messages").append('<li class="clearfix"> <div class="message-data text-right"><span class="message-data-time">' + time + '</span></div><div class="message my-message float-right">'
        //                 +msg+'</div></li>');
		console.log('Received message');
        var objDiv = document.getElementById("chat_history");
        objDiv.scrollTop = objDiv.scrollHeight;
        
	});

    socket.on('new_private_message', function(messages_to_load) {
        
        var objDiv = document.getElementById("chat_history");
        objDiv.scrollTop = objDiv.scrollHeight;

        $("#messages").empty();
        // if (messages_to_load.length==0){
        //     $(".chat-message").addClass("first-message");
        // }
        // else{
        //     $(".chat-message").removeClass("first-message");
        // }
        for (var i=0; i< messages_to_load.length ; i++){
            
            if (messages_to_load[i]["sender_username"] == "{{current_user.username}}") {
                $("#messages").append('<li class="clearfix"> <div class="message my-message float-right">'
                        +messages_to_load[i]["message_text"] +'</div></li>');
            }
            else {
            $("#messages").append('<li class="clearfix"><div class="message other-message">'
                        +messages_to_load[i]["message_text"] +'</div></li>');
            }
        }
    });
    
    // <li class="clearfix" style="visibility: hidden;">
    //                         <div class="message-data text-right" >
    //                             <span class="message-data-time">10:10 AM, Today</span>
    //                             <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
    //                         </div>
    //                         <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
    //                     </li>



	$('#sendbutton').on('click', function() {
        // var associated_users = "{{ users_json }}";

        //

        if ($('#myMessage').val().trim() != ''){
            socket.emit("message", {"text": $('#myMessage').val(), "source_username": "{{ current_user.username }}", "target_username": recipient} );
		    $('#myMessage').val('');
		    }
	});

	$('#myMessage').keypress(function(e){
        if(e.which == 13){//Enter key pressed
            $('#sendbutton').click();//Trigger search button click event
        }
    });
    

    for (var i = 0; i < associated_users.length; i++) {
        var temp_user = associated_users[i].username;
         $("#" + temp_user).removeClass("active");
     $('#' + temp_user).on('click', function(){
        recipient = $(this).attr('id');
        console.log("CLASS NAME: " + associated_users[0].username);
        for (var i = 0; i < associated_users.length; i++) {
            $("#" + associated_users[i].username).removeClass("active");
        } 
        $("#" + $(this).attr('id')).addClass("active");
        // $("#current_user").val(recipient);
        document.getElementById("current_user").innerHTML = recipient;
        console.log("RECIPIENT" + recipient);
        
        $("#current_user_profile").attr("href", "view_profile?username=" + recipient);
       


        console.log("Current User", $("#current_user").val());
        $("#messaging_controls").css("visibility","visible")
        

        socket.emit('leave', {'source_username': "{{ current_user.username }}"});
        socket.emit('join', {'source_username': "{{ current_user.username }}", 'target_username': $(this).attr('id')});
    });
    }

});
</script>



    
<div class="container">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <!-- <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search...">
                </div> -->
                <ul class="list-unstyled chat-list mt-2 mb-0">
                    {% for user in users %}
                        <li class="clearfix chat-recipients" id="{{ user.username }}" >
                            <img src="{{ user.image_file }}" alt="avatar">
                            <div class="about">
                                <div class="name mt-1">{{ user.username }}</div>
                                <small id="{{ user.username }}_last_received_message">{{ user.last_received_message }}</small>
                               
                            </div>
                            <!-- <div>
                                <a href="#"> <button type="button" class="btn btn-primary button-theme btn-sm" style="font-size: 0.6em;">View Profile</button></a>
                            </div> -->
                            
                        </li>
                    {% endfor %}
                    <!--<li class="clearfix active">-->
                        <!--<img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar">-->
                        <!--<div class="about">-->
                            <!--<div class="name">Aiden Chavez</div>-->
                            <!--<div class="status"> <i class="fa fa-circle online"></i> online </div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">-->
                        <!--<div class="about">-->
                            <!--<div class="name">Mike Thomas</div>-->
                            <!--<div class="status"> <i class="fa fa-circle online"></i> online </div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">-->
                        <!--<div class="about">-->
                            <!--<div class="name">Christian Kelly</div>-->
                            <!--<div class="status"> <i class="fa fa-circle offline"></i> left 10 hours ago </div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="avatar">-->
                        <!--<div class="about">-->
                            <!--<div class="name">Monica Ward</div>-->
                            <!--<div class="status"> <i class="fa fa-circle online"></i> online </div>-->
                        <!--</div>-->
                    <!--</li>-->
                    <!--<li class="clearfix">-->
                        <!--<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">-->
                        <!--<div class="about">-->
                            <!--<div class="name">Dean Henry</div>-->
                            <!--<div class="status"> <i class="fa fa-circle offline"></i> offline since Oct 28 </div>-->
                        <!--</div>-->
                    <!--</li>-->
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info" id="profile_pic">
                                <!-- <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="avatar"> -->
                            </a>
                            <div class="chat-about">
                                <a href="#" id="current_user_profile">
                                    <h6 class="m-b-0" id="current_user"></h6>
                                </a>
                                <!-- <small>Last seen: 2 hours ago</small> -->
                            </div>
                        </div>
                        <!-- <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="chat-history" id="chat_history">
                    <ul class="m-b-0" id="messages">
                        <li class="clearfix" style="visibility: hidden;">
                            <div class="message-data text-right" >
                                <span class="message-data-time">10:10 AM, Today</span>
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
                            </div>
                            <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                        </li>
                        <li class="clearfix" style="visibility: hidden;">
                            <div class="message-data">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>
                        </li> 
                        <li class="clearfix" style="visibility: hidden;">
                            <div class="message-data">
                                <span class="message-data-time">10:15 AM, Today</span>
                            </div>
                            <div class="message my-message">Project has been already finished and I have results to show you.</div>
                        </li>
                    </ul>
                </div>
                <div class="chat-message clearfix" id="messaging_controls" style="visibility: hidden;">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-send" id="sendbutton"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter text here..." id="myMessage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
{% endblock content %}