<div class="cd-schedule-modal__event-info p-14">
	<!--<div>Abs Circuit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, unde, nulla. Vel unde deleniti, distinctio inventore quis molestiae perferendis, eum quo harum dolorum reiciendis sunt dicta maiores similique! Officiis repellat iure odio debitis enim eius commodi quae deserunt quam assumenda, ab asperiores reiciendis minima maxime odit laborum, libero veniam non? </div>-->
	<div class="event-info">

		<div class="row">

			<div class="col-10">

				<h4>You have selected this slot.</h4>

				<a href="#0"><button type="button" class="btn btn-danger cancel" > Cancel Booking Slot </button></a>
				<!--<a href="{{ url_for('scheduling.schedule', selected=True) }}"><button type="button" class="btn btn-success"> Book </button></a>-->
				<!--<a href="{{ url_for('scheduling.schedule', selected=False, scheduling=None) }}"><button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button></a>-->
			</div>
			<div class="col-2"></div>
		</div>
	</div>
</div>